$maincolor:#cc6699;
$maincolor-text:#fff;

body{
    line-height: 1.6;
}
.header {
    font-family: serif;
    text-align: center;
    background-color: $maincolor;
    color:$maincolor-text;
    padding: 2em;
    .header-title {
        font-size: 3rem;
    }
    .header-text {
    }
}
.main {
    padding: 2em;
    text-align: center;
    .main-title{
        margin: 1em auto; 
        font-size: 2rem;
    }
    .main-text {
        margin: 2em auto;
    }
    .kanpaibutton {
        padding: 0.5em 1em;
        font-size: 1.5rem;
        border: 3px solid $maincolor;
        border-radius: 5px;
        color: $maincolor;
        text-decoration: none;
        
        &:hover{
            background-color: $maincolor;
            color: $maincolor-text;
        }
    }
    p {
        margin: 2em auto;
    }
    small {
    }

    .svg-icon{
        fill:pink;
    }
    .logo{
        img{
            max-width: 300px;
            width: auto;
            height: auto;
            margin: 50px auto;
        }
    }
}


.ranking {
    counter-reset: rank;
    margin: 0 auto;
    display: inline-block;
    .ranking-item {
        counter-increment:rank;
        margin: 15px 0;
        font-size: 2rem;
        text-align: left;
        
        &:before{
            content:counter(rank);
            display: inline-block;
            margin-right: 1em;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            line-height: 50px;
            background-color: #000;
            color: #fff;
            text-align: center;
        }
        &:nth-child(1){
            &:before{
                background-color: #b39300;
            }
        }
        &:nth-child(2){
            &:before{
                background-color: #898989;
            }
        }
        &:nth-child(3){
            &:before{
                background-color: #9a5c16;
            }
        }
    }
    .ranking-name {
        margin-right: 0.5em;
    }
    .ranking-type {
    }
}

.zaseki{
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    padding:1em;
    
}
.maching {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    margin: 1em auto;
    max-width: 1000px;
    &:before{
        content:attr(data-mache)"%";
        display: block;
        width: 100px;
        height: 100px;
        background-image: url(../img/heart.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        order: 2;
        color: #fff;
        font-size: 30px;
        line-height: 100px;
        text-align: center;
    }
    .maching-item {
        box-sizing: border-box;
        white-space: nowrap;
        width: 400px;
        font-size: 2rem;
        padding: 1em;
        &:first-child{
            order: 1;
        }
        &:last-child{
            order: 3;
        }
    }
    .maching-name {
        margin-bottom: 0.5em;
    }
    .maching-type {
        display: block;
    }
    &.maching--solo{
        order:99;
        width: 50%;
        max-width: 400px;
        &:before{
            display: none;
        }
        .maching-item{
            width: 100%;
        }
    }
}
.loading{
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 1em auto;
        
    > .ranking,.zaseki{
        height: 300px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &.loading--done{
        padding: 0;
        background: none;
        > .ranking,.zaseki{
            height: auto;
            opacity: 1;
        }
    }
}