<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>LOVE-ジョッキ</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="header-title">LOVE-ジョッキ</h1>
        <p class="header-text">～大人の乾杯テクニック～</p>
    </header>
    <main class="main">
        <h2 class="main-title">相性診断＆おすすめ座席</h2>
        <p class="main-text">この席順はどうですか？</p>

        <div class="loading">
            <div class="zaseki">

                <!--ul class="maching">
                <li class="maching-item"><span class="maching-name">Aさん</span><span class="maching-type">〇〇タイプ</span></li>
                <li class="maching-item"><span class="maching-name">Bさん</span><span class="maching-type">〇〇タイプ</span></li>
            </ul-->

            </div>
        </div>

        <p><a class="kanpaibutton" href="/ranking">乾杯上手ランキング</a></p>
        <p><a class="kanpaibutton" href="/">もう一度乾杯！</a></p>

    </main>
</body>
<script src="static/js/jquery-3.2.1.min.js"></script>
<script>
    $(function() {
        $.ajaxSetup({
            dataType: 'json',
            timeout: 30000,
            headers: {
                'pragma': 'no-cache',
                'Cache-Control': 'no-cache',
                'If-Modified-Since': 'Thu, 01 Jun 1970 00:00:00 GMT'
            }
        });

        var idata = $.getJSON("/make_json");
        var itype = $.getJSON("static/json/type.json");



        $.when(idata, itype)
            .done(function(result1, result2) {
              // console.log(result1[0].ResultSet.result)
                var count = parseInt(result1[0].ResultSet.result.length);
                var zasekiArray = [];

                if (count % 2 != 0) {
                    /* 奇数人の時 ランダムで一人はお誕生日席 */

                    //var solo = parseInt(count/2)+1;
                    var solo = Math.floor(Math.random() * count);
                    var soloshowName = result1[0].ResultSet.result[solo].name;
                    var solotypeNum = result1[0].ResultSet.result[solo].type;
                    var soloshowType = "計り知れない";

                    for (var j = 0; j < result2[0].length; j++) {
                        if (result2[0][j].type === solotypeNum) {
                            soloshowType = result2[0][j].typename;
                        }
                    }

                    $('.zaseki').append('<ul class="maching maching--solo"><li class="maching-item"><span class="maching-name">' + soloshowName + 'さん</span><span class="maching-type">' + soloshowType + 'タイプ</span></li></ul>');

                    result1[0].ResultSet.result.splice(solo, 1);
                }

                /* とりあえずタイプの数値が離れている人同士でマッチング */
                count = parseInt(result1[0].ResultSet.result.length);
                result1[0].ResultSet.result.sort(function(val1, val2) {
                    return (val1.type < val2.type ? 1 : -1);
                });
                for (var i = 0; i < count / 2; i++) {
                    var showName = result1[0].ResultSet.result[i].name;
                    var typeNum = result1[0].ResultSet.result[i].type;
                    var showType = "計り知れない";
                    var pairIndex = count - i - 1;
                    var showName2 = result1[0].ResultSet.result[pairIndex].name;
                    var typeNum2 = result1[0].ResultSet.result[pairIndex].type;
                    var showType2 = "計り知れない";
                    var compatibility = 100 - (typeNum * typeNum2) * 3;

                    for (var j = 0; j < result2[0].length; j++) {
                        if (result2[0][j].type === typeNum) {
                            showType = result2[0][j].typename;
                        }
                        if (result2[0][j].type === typeNum2) {
                            showType2 = result2[0][j].typename;
                        }
                    }

                    $('.zaseki').append('<ul class="maching" data-mache="' + compatibility + '"><li class="maching-item"><span class="maching-name">' + showName + 'さん</span><span class="maching-type">' + showType + 'タイプ</span></li><li class="maching-item"><span class="maching-name">' + showName2 + 'さん</span><span class="maching-type">' + showType2 + 'タイプ</span></li></ul');
                }
            setTimeout(function(){
                $('.loading').addClass('loading--done');
            },1000);

            }).fail(function(result1, result2) {
                alert("fail");
            });

    });
</script>

</html>
